
<div class="container-all">
  <h1>Todas as Tarefas</h1>
  <div class="task-empty">
    {{#if emptyTasks}}
      <p>Não há tarefas cadastradas</p>
    {{/if}}
  </div>
  <div class="task-list">
    <div class="task-view">
      {{#each tasks}}
        <div class="content-task">
          {{#if this.done}}
            <a href="/tasks/edit/{{this.id}}" class="title done">{{this.title}}</a>
          {{else}}
            <a href="/tasks/edit/{{this.id}}" class="title">{{this.title}}</a>
          {{/if}}
          <div class="actions">
            <form action="/tasks/updatestatus" method="POST">
              <input type="hidden" name="id" value={{this.id}}>
              <input type="hidden" name="done" value={{this.done}}>
              <button class="btn btn-check" type="submit">
                <i class="bi bi-check-lg"></i>
              </button>
            </form>
            <button class="btn btn-edit" type="button">
            <a href="/tasks/edit/{{this.id}}"><i class="bi bi-pencil-fill" style="color: #D8DBE3"></i></a>
            </Button>
            <form action="/tasks/remove" method="POST">
              <input type="hidden" name="id" value={{this.id}}>
              <button class="btn btn-close" type="submit">
                <i class="bi bi-x-lg"></i>
              </button>
            </form>
          </div>
        </div>
    {{/each}}
  </div>
</div>